<div class="card">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-header">
    Posted by
    {{username}}
    on{{created_at}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{content}}</h5>

  </div>
</div>