<form class="login-form">
  <div class="mb-3">
    <label for="username-login" class="form-label">Name</label>
    <input
      type="name"
      class="form-control"
      id="username-login"
      aria-describedby="nameHelp"
    />
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login" />
  </div>
  <button type="submit" class="btn btn-primary login-form">Login</button>
</form>

<form class="signup-form">
  <div class="mb-3">
    <label for="username-signup" class="form-label">Name</label>
    <input
      type="name"
      class="form-control"
      id="username-signup"
      aria-describedby="nameHelp"
    />
  </div>
  <div class="mb-3">
    <label for="email-signup" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-signup" />
  </div>
  <button type="submit" class="btn btn-primary">Signup</button>
</form>

<script src="/javascript/login.js"></script>